.block.milestone
  .title
    里程碑
    - if can_admin_issue?
      = icon("spinner spin", class: "block-loading")
      = link_to "编辑", "#", class: "js-sidebar-dropdown-toggle edit-link pull-right"
  .value
    %span.no-value{ "v-if" => "!issue.milestone" }
      无
    %span.bold.has-tooltip{ "v-if" => "issue.milestone" }
      {{ issue.milestone.title }}
  - if can_admin_issue?
    .selectbox
      %input{ type: "hidden",
        ":value" => "issue.milestone.id",
        name: "issue[milestone_id]",
        "v-if" => "issue.milestone" }
      .dropdown
        %button.dropdown-menu-toggle.js-milestone-select.js-issue-board-sidebar{ type: "button", data: { toggle: "dropdown", show_no: "true", field_name: "issue[milestone_id]", milestones: milestones_filter_path(format: :json), ability_name: "issue", use_id: "true", default_no: "true" },
          ":data-selected" => "milestoneTitle",
          ":data-issuable-id" => "issue.iid" }
          里程碑
          = icon("chevron-down")
        .dropdown-menu.dropdown-select.dropdown-menu-selectable
          = dropdown_title("指派里程碑")
          = dropdown_filter("搜索里程碑")
          = dropdown_content
          = dropdown_loading
